 {% extends "first_example/_layout.html" %}
{% load static %}
{% block text_format %}
        <a href="{% url "index" %}">Back to 'Main Page'</a>
       {% with message="Hello" sample_string="test string" float_value=10.34523 none_value=None %}

        <p>Original String: {{sample_string}}</p>
        <p>Uppercase: {{sample_string|upper}}</p>
        <p>Lowercase: {{sample_string|lower}}</p>
        <p>Title Case: {{sample_string|title}}</p>
        <p>Truncated String: {{sample_string|truncatechars:4}}</p>
        <p>Float Value: {{float_value}}</p>
        <p>Rounded Float Value: {{float_value|floatformat:2}}</p>
        <p>None Value: {{none_value}}</p>
        <p>Default Value for None: {{none_value|default:"Default Value"}}</p>
        <p>Cut: {{sample_string|cut:"string"}}</p>
        <p>None: {{none_value|default:"Value is None"}}</p>
        <p>Cap First: {{sample_string|capfirst}}</p>

        <h2>List methods</h2>
       
        <p>Original List: {{list}}</p>
        <p>Joined List: {{list|slice:"2::2"|join:" , "}}</p>
        <p>Lengh: {{list|length}}</p>
      
    {%endwith%}
{% endblock text_format %}