{%extends "base_layout.html"%}
{%block auth%}
    <h1>Register</h1>
    {% if button %}
        <p style="color: red;">{{ form.errors }}</p>
    
    <form action="{% url 'login_view' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{{ button|default:'Login' }}"/>
    </form>
    {% endif %}
    {% else %}
    <form action="{% url 'new_user' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{{ button|default:'Register' }}"/>
    {% endif %}
{%endblock%}