{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{%static "css/materialize.min.css"%}" media="screen, projection"/>
    <link type="text/css" rel="stylesheet" href="{%static "css/form.css"%}" media="screen, projection"/>
    <link rel="icon" href="{%static "favicon.ico"%}" type="image/x-icon">
</head>
<body>
    <div class="container">
        {% block form_content %}{% endblock form_content %}
        {% block user %}{% endblock user %}
    </div>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/forms_index.js' %}"></script>
</body>
</html>