{% extends "forms_layout.html" %}

{% block form_content %}
  <form method="post" action="{% url 'simple_form' %}">
    {% csrf_token %}
    <p>Name:</p>
    <input name="name" placeholder="Name">
    <p>Surname:</p>
    <input name="surname" placeholder="Surname">
    <p>Languages:</p>
    <input name="languages" placeholder="Lan 1">
    <input name="languages" placeholder="Lan 2">
    <input name="languages" placeholder="Lan 3">
    <input name="languages" placeholder="Lan 4">
    <button type="submit">Register</button>
  </form>
{% endblock form_content %}